@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open Sans');

.opensans{
  font-family: 'Open Sans';
}
.mainbutton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;
  color: white;
  height: 64px;
  font-size: 24px;

  /* blue */

  background: #00BBEA;
  border-radius: 8px;
  border: 2px solid #00BBEA;
  border-radius: 8px;
}
.mainbutton:hover{
  border: 2px solid #00BBEA;
  border-radius: 8px;
  color: #00BBEA;
  background: white;
}
.socialpc{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 14px;
gap: 20px;
height: 80px;
/* white */

background: #FFFFFF;
box-shadow: 4px 4px 0px rgba(12, 41, 75, 0.75);
border-radius: 40px;
}
.addshadow{
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}